
.toolbar {
  border: 0px solid var(--toolbar-border-color);
  background-color: var(--toolbar-background);
  border-right-width: 1px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100%;
}

.toolbarItem {
  border: var(--border-size-1) solid var(--color-transparent);
  cursor: "move";
}

.toolbarItem:hover {
  border: var(--border-size-1) solid var(--toolbar-item-border-hover);
}

.toolbarItem:active {
  background-color: var(--toolbar-item-background-active);
}

.miniScrollBar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}
