:root {
  --color-background-col-click: #313135;
  --color-background-col: #252527;
  --color-transparent: transparent;
  --color-black-50: #00000050;
  --color-black: #000;

  --toolbar-border-color: var(--color-black-50);
  --toolbar-item-background-active: #52525252;
  --toolbar-item-border-hover: #525252;
  --toolbar-background: #3c3c3c54;

  --border-size-1: 4px;

  --size-1: 4px;
  --size-x-scroll-bar-small: var(--size-1);
  --size-none: 0px;
  --size-1-5: 6px;
  --size-3: 12px;
  --size-2: 8px;

}
