.treeItem {
  height: min-content;
  cursor: pointer;
  width: 100%;
}

.treeItem:hover {
  background-color: var(--color-background-hover-click);
}

.treeItem:active {
  background-color: var(--color-background-col-click);
}
